html{
    font-family: Helvetica, sans-serif;
    margin: 50px;
}
body>header>h1{
    text-transform: uppercase;
    display: inline;
    font-size: 30px;
}
nav{
    display: inline-block;
    color: green;
    padding: 10px;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: green;
    padding: 20px;
    font-size: 12px
}
hr{
    border: 1px solid black;
}
main>header>h1{
    font-family: Georgia;
    font-size: 25px;
    font-weight: 100;
    margin-top: 30px
}
p{
    font-size: 13.5px;
}
