.nav{
  display: flex;
  justify-content: space-between;
}
.nav h1{
  font-size: 1em;
  margin: 15px 50px;
}
nav{
  margin: 15px 25px;
}
nav ul li{
  display: inline-block;
  margin-left: 20px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}