#statistics{
  position: static;
  display: flex;
  margin: 150px 120px 30px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3{
  font-size: 40px;
  color: #FF7C4C;
  margin-bottom: 30px;
}
.card p:nth-child(2){
  font-weight: 500;
  margin-bottom: 10px;
}
.card p:last-child{
  width: 280px;
  text-align: center;
  font-size: 10px;
}