@import url(header.css);
@import url(statistics.css);
@import url(article.css);
@import url(pricing-plans.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: black;
}