html{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    height: 35rem;
    max-width: 15vw;
}

span{
    border: 1px solid black;
    text-align: center;
    width: 70px;
    padding: 10px;
}
.S{
    order: 1;
}
.e{
    order: 2;
}
.m{
    order: 3;
}
.a{
    order: 4;
}
.n{
    order: 5;
}
.t{
    order: 6;
}
.i{
    order: 7;
}
.c{
    order: 8;
}
.H{
    order: 9;
}
.T{
    order: 10;
}
.M{
    order: 11;
}
.L{
    order: 12;
}
.S,.e,.m,.a,.n,.t,.i,.c{
    flex-basis: 8%;
}
.H,.T,.M,.L{
    flex-basis: 8%;
}