*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.site{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 15px;
    margin: 10px;
}
.site *{
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5px;
}
.site main{
    grid-column: 2 / 3;
}
.site main ul{
    padding-left: 50px;
}
.site aside{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.site aside ul{
    padding: 10px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.site header, .site footer{
    grid-column: 1 / -1;
}