.email-form{
  display: flex;
  gap: 30px;
  margin-bottom: 0;
}

.email-form img{
  width: 50%;
  height: auto;
}

.email-form form{
  display: flex;
  flex-direction: column;
  margin: 80px 60px auto;
}

.email-form h1{
  font-size: 20px;
}
.email-form p{
  font-size: 10px;
}
.email-form input{
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #D2E8F1;
}
.email-form a{
  background-color: black;
  width: 35%;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  text-align: center;
}